<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
</head>
<body>

    <form action="/product/add" method="POST">
        
        <input type="text" placeholder="Producto" name="name">

        <br>

        <input type="number" placeholder="Cantidad" name="cant">

        <br>

        <input type="submit" value="Add">

    </form>

</body>
</html>